<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
	<servlet>
	    <servlet-name>AnnotationHandlerServlet</servlet-name>
	    <servlet-class>mvc.AnnotationHandlerServlet</servlet-class>
	    <init-param>
	         <description>配置要扫描包及其子包, 如果有多个包,以逗号分隔</description>
	        <param-name>basePackage</param-name>
	        <param-value>mvc.controller</param-value>
	        <!-- <param-value>me.gacl.web.controller</param-value> -->
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	  <servlet-mapping>
	    <servlet-name>AnnotationHandlerServlet</servlet-name>
	    <!-- 拦截所有以.do后缀结尾的请求 -->
	    <url-pattern>*.do</url-pattern>
	  </servlet-mapping>
	  
	  <welcome-file-list>  
	    <welcome-file>index.jsp</welcome-file>  
	</welcome-file-list>  
</web-app>
